@import '../../styles/all';

.cart-content {
    width: 100%;
    min-height: calc(100vh - 80px);
    padding: 2% 5%;

    .cart-content-inner {
        max-width: 1300px;
        margin: 0 auto;

        @media screen and (max-width: $laptops) {
            max-width: $max-width;
        }
        
        @media screen and (max-width: $mobile) {
            padding-bottom: 5%;
        }

        .hr {
            margin-bottom: 20px;
        }

        .cart-center {
            width: 100%;
            padding: 1% 0;
            display: grid;
            padding-bottom: 2%;
            grid-template-columns: repeat(2, 1fr);

            @media screen and (max-width: $mobile) {
                grid-template-columns: 1fr;
            }

            .center-left {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .center-title {
                    font-family: $primary-font;
                    font-weight: bold;
                    font-size: 30px;

                    @media screen and (max-width: $mobile-portrait) {
                        font-size: 25px;
                    }
                }

                .center-subheader {
                    font-family: $third-font;
                    color: $gray;

                    span {
                        color: $black;
                        font-weight: bold;
                    }
                }
            }

            .center-right {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;

                .center-right-subheader {
                    font-family: $third-font;
                    color: $gray;
                    
                    @media screen and (max-width: $mobile) {
                        display: none;
                        font-size: 12px;
                    }
                }
            }
        }

        .cart-content-products {
            display: grid;
            grid-template-columns: 3.5fr 1.5fr;
            gap: 10px;

            @media screen and (max-width: $mobile-portrait) {
                grid-template-columns: 1fr;
            }

            .cart-content-left-products {

                .cart-grid {

                    .cart-header-section {
                        width: 100%;
                        background-color: rgb(245, 245, 245);
                        border-radius: $border-radius;
                        display: grid;
                        padding: 10px 15px;
                        grid-template-columns: 3fr 1fr 1fr 1fr;

                        @media screen and (max-width: $mobile) {
                            display: none;
                        }

                        .cart-header-textbox {
                            text-align: center;

                            .cart-header-text {
                                color: $black;
                                font-family: $primary-font;
                                font-size: 14px;
                                font-weight: 500;

                                @media screen and (max-width: $mobile) {
                                    font-size: 12px;
                                }
                            }
                        }
                    }

                    .products {

                        .hr {
                            margin-top: 20px;
                        }

                        .product {
                            position: relative;
                            display: grid;
                            grid-template-columns: 3fr 1fr 1fr 1fr;

                            @media screen and (max-width: $mobile) {
                                grid-template-columns: 3fr ;
                            }

                            &:nth-child(1) {
                                margin-top: 20px;
                            }

                            .remove-btn {
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 30px;
                                height: 30px;

                                .close-icon {
                                    width: 8px;
                                    height: 8px;
                                }
                            }

                            .one {
                                display: grid;
                                gap: 10px;
                                grid-template-columns: 1fr 1fr;
                                
                                .product-image {
                                    height: 130px;
                                    object-fit: cover;
                                    border-radius: $border-radius;
                                }

                                .product-details {
                                    @media screen and (max-width: $mobile) {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: flex-end;
                                    }

                                    .product-name {
                                        font-size: 14px;
                                        font-weight: 500;

                                        @media screen and (max-width: $mobile) {
                                            font-size: 12px;
                                        }
                                    }

                                    .product-description {
                                        color: $gray;
                                        font-size: 12px;
                                        font-family: $third-font;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 5;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;
                                        text-overflow: ellipsis;

                                        @media screen and (max-width: $mobile) {
                                            font-size: 11px;
                                        }
                                    }
                                }
                            }
                            .two, .three, .four {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 10px;

                                @media screen and (max-width: $mobile) {
                                    justify-content: flex-start;
                                    margin-top: 10px;
                                }

                                .add-btn {
                                    
                                }
                                
                                .product-text {
                                    font-family: $third-font;
                                    font-size: 13px;

                                    span {
                                        display: none;

                                        @media screen and (max-width: $mobile) {
                                            display: inline-block;
                                        }
                                    }

                                    @media screen and (max-width: $mobile) {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }

                    .not-found-data {
                        width: 100%;
                        min-height:50vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 10px;
        
                        .anim {
                            width: 200px;
                            height: 200px;
    
                            @media screen and (max-width: $laptops) {
                                width: 150px;
                                height: 150px;
                            }
                        }
    
                        .cart-text {
                            color: $black;
                            font-family: $primary-font;
                        }
    
                        .control-button {
                            max-width: 300px;
                            width: 200px;
                            padding: 2%;
                        }
                    }
                }
            }

            .cart-content-right-products {
                background-color: rgb(243, 243, 243);
                padding: 10px;
                border-radius: $border-radius;
                max-height: 200px;

                .total-container {
                    width: 100%;
                    border-radius: $border-radius;
                    // background-color: #e2e2e2;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 20px;
                    height: 100%;

                    .cart-header {
                        font-family: $primary-font;
                        font-weight: bold;
                        font-size: 25px;
                    }

                    .cart-amount {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .amount-value {
                            color: $black;
                            font-family: $primary-font;
                        }

                        .amount-key {
                            color: $black;
                            font-family: $primary-font;
                            font-weight: bold;
                        }
                    }

                    .control-button {
                        width: 100%;
                        padding: 2%;
                    }
                }
            }
        }
    }
}